@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <div>
        <img src="~/Images/logo.png" style="width:60%; height:60%" />
    </div>
</div>
